<a href="https://colab.research.google.com/github/4myLab/codestates/blob/main/n111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

URL = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

#data load
df1 = pd.read_excel(URL, sheet_name=0)
df2 = pd.read_excel(URL, sheet_name=1)

#transpose
df1_T = df1.T
df2_T = df2.T

#data dimension / size
df1_D = df1_T.shape
df2_D = df2_T.shape
df1_S = df1_T.size
df2_S = df2_T.size

#data parsing(NaN, NA -> 0)
#print(df1_T.isnull().value_counts())
#print(df2_T.isnull().value_counts())
df1_T.fillna(0)
df2_T.fillna(0)

#Export
df1_T.to_csv('df1.csv', sep=',')
df2_T.to_csv('df2.csv', sep=',')

In [9]:
#test
#head 설정 잘하기
df1_T.iloc[0]

0            매출액
1           영업이익
2     영업이익(발표기준)
3       세전계속사업이익
4          당기순이익
5      당기순이익(지배)
6     당기순이익(비지배)
7           자산총계
8           부채총계
9           자본총계
10      자본총계(지배)
11     자본총계(비지배)
12           자본금
13      영업활동현금흐름
14      투자활동현금흐름
15      재무활동현금흐름
16         CAPEX
17           FCF
18        이자발생부채
19         영업이익률
20          순이익률
21        ROE(%)
22        ROA(%)
23          부채비율
24         자본유보율
25        EPS(원)
26        PER(배)
27        BPS(원)
28        PBR(배)
29      현금DPS(원)
30       현금배당수익률
31     현금배당성향(%)
Name: 주요재무정보, dtype: object

In [10]:
data = {
    '구분':['18년','19년'],
    '종가':[101500,93800],
    '발행주식수':[137292497,137292497],
    '시가총액':[13935188445500,12878035218600],
    '시장점유율':[62.0,63.5],
    '시장규모':[15000000000000,15000000000000]}

df3 = pd.DataFrame(data)
PDR = [data['시가총액'][i]*100/(data['시장규모'][i]*(data['시장점유율'][i]/100)) for i in range(len(df3))]
df3['PDR'] = PDR

df3

    구분      종가      발행주식수            시가총액  시장점유율            시장규모         PDR
0  18년  101500  137292497  13935188445500   62.0  15000000000000  149.840736
1  19년   93800  137292497  12878035218600   63.5  15000000000000  135.202469

In [11]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [19]:
NA_DF = pd.read_csv(url, names=headers)
NA_DF['당기순이익(비지배)'] = NA_DF['당기순이익(비지배)'].replace(-15, np.NAN)
NA_DF.fillna(NA_DF.mean(numeric_only=True))

,분기,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,...,투자활동현금흐름,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17.00,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13.00,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",10.75,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9.00,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4.00,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

In [36]:
#타입 그리고 rolling 함수
NA_DF['매출액'] = NA_DF['매출액'].astype(str).replace('[\W]',r'',regex=True).astype(int)
#NA_DF['매출액'] = NA_DF['매출액'].astype(int)

avg = NA_DF['매출액'].rolling(window=4).mean()
NA_DF['Eval'] = avg


for i in range(len(NA_DF)):
  if NA_DF['Eval'][i]*1.1 <= NA_DF['매출액'][i]: 
    NA_DF['Relative_Perfomance'][i] = 'S'
  elif NA_DF['Eval'][i]*1.05 <= NA_DF['매출액'][i]:
    NA_DF['Relative_Perfomance'][i] = 'A'
  elif NA_DF['Eval'][i]*0.95 <= NA_DF['매출액'][i] and NA_DF['Eval'][i]*1.05 > NA_DF['매출액'][i]:
    NA_DF['Relative_Perfomance'][i] = 'B'
  elif NA_DF['Eval'][i]*0.95 >= NA_DF['매출액'][i]:
    NA_DF['Relative_Perfomance'][i] = 'C'
  elif NA_DF['Eval'][i]*0.9 >= NA_DF['매출액'][i]:
    NA_DF['Relative_Perfomance'][i] = 'D'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [37]:
NA_DF

,분기,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,...,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배),Eval,Relative_Perfomance
0,19/6,12578,"3,991","3,991","4,452","3,245","3,228",17.0,"108,464","25,940",...,31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,NaN,
1,19/9,13222,"3,825","3,825","4,503","3,221","3,208",13.0,"106,314","20,691",...,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,NaN,
2,19/12,11982,"2,523","2,523","1,794","1,183","1,198",NaN,"107,121","20,062",...,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,NaN,
3,20/3,11784,"3,150","3,150","4,156","2,939","2,930",9.0,"108,594","24,862",...,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,12391.5,B
4,20/6,13188,"3,947","3,947","4,020","2,935","2,931",4.0,"110,282","23,386",...,29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,12544.0,A